{% extends "base/base.html" %}

{% load static %}

{% block title %}
    Credit Cards
{% endblock %}

{% block content %}
    {% if accounts %}
        <a class="main-anchor-tag" href="#" onclick="openCreateCreditCardModal()">Create Credit Card</a>
    {% else %}
        <p class="message">You need to create an account before creating a credit card.</p>
    {% endif %}

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Owner</th>
                    <th>Limit</th>
                    <th>Remaining Limit</th>
                    <th>Next Bill</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for creditcard in creditcards %}
                    <tr>
                        <td>{{ creditcard.name }}</td>
                        <td>{{ creditcard.account.user.username }}</td>
                        <td>R$ {{ creditcard.limit }}</td>
                        <td>R$ {{ creditcard.remaining_limit }}</td>
                        <td>
                            R$ {{ creditcard.next_bill_amount }} on {{ creditcard.next_due_date }}
                            <a href="#" onclick="openPayCreditCardModal({{ creditcard.id }}, '{{ creditcard.name }}')">Pay Bill</a>
                        </td>
                        <td>
                            <a href="#" onclick="openDeleteCreditCardModal({{ creditcard.id }}, '{{ creditcard.name }}')">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if success %}
        <p class="message">{{ success }}</p>
    {% endif %}
    {% if error %}
        <p class="message">{{ error }}</p>
    {% endif %}

    <div class="modal-container" id="delete-creditcard-modal">
        <form id="delete-creditcard-form" method="POST">
        <h2>Delete Credit Card</h2>
        <p>Are you sure you want to delete the credit card <strong id="creditcard-name"></strong>?</p>
            {% csrf_token %}
            <button class="form-button delete" type="submit">Delete</button>
            <button class="form-button" type="button" onclick="toggleDeleteCreditCardModal()">Cancel</button>
        </form>
    </div>
    <div class="modal-container" id="create-creditcard-modal">
        <form method="POST" id="create-creditcard-form" action="{% url 'creditcards:create' %}">
            {% csrf_token %}
            <div class="form-input-container">
                <input type="text" name="name" placeholder="" required class="form-input" id="create-creditcard-name">
                <label for="create-creditcard-name" class="form-input-label">Credit Card Name</label>
            </div>
            <div class="form-select-container">
                <select name="account" required class="form-select" id="create-creditcard-account">
                    <option value="" hidden selected>Account</option>
                    {% for account in accounts %}
                        <option value="{{ account.id }}">{{ account.name }}</option>
                    {% endfor %}
                </select>
                <label for="create-creditcard-account" class="form-select-label">Account</label>
            </div>
            <div class="form-input-container">
                <input type="number" name="due_day" placeholder="" required class="form-input" id="create-creditcard-due-day">
                <label for="create-creditcard-due-day" class="form-input-label">Due Day</label>
            </div>
            <div class="form-input-container">
                <input type="number" name="limit" placeholder="" required class="form-input" id="create-creditcard-limit" step="0.01">
                <label for="create-creditcard-limit" class="form-input-label">Limit</label>
            </div>
            <button class="form-button" type="submit">Create Credit Card</button>
            <button class="form-button" type="button" onclick="toggleCreateCreditCardModal()">Cancel</button>
        </form>
    </div>
    <div class="modal-container" id="pay-creditcard-modal">
        <form id="pay-creditcard-form" method="POST">
        <h2>Pay Bill</h2>
        <p>Are you sure you want to pay the bill of <strong id="pay-creditcard-name"></strong>?</p>
            {% csrf_token %}
            <input type="hidden" name="creditcard" id="pay-creditcard-id">
            <div class="form-input-container">
                <input type="number" name="amount" placeholder="" required class="form-input" id="pay-creditcard-amount" step="0.01" min="0.01">
                <label for="pay-creditcard-amount" class="form-input-label">Amount</label>
            </div>
            <div class="form-select-container">
                <select name="account" required class="form-select" id="pay-creditcard-account">
                    <option value="" hidden selected>Account</option>
                    {% for account in accounts %}
                        <option value="{{ account.id }}">{{ account.name }}</option>
                    {% endfor %}
                </select>
                <label for="pay-creditcard-account" class="form-select-label">Account</label>
            </div>
            <button class="form-button" type="submit">Pay Bill</button>
            <button class="form-button" type="button" onclick="togglePayCreditCardModal()">Cancel</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'creditcards/js/scripts.js' %}"></script>
{% endblock %}