{% extends "base/base.html" %}

{% load static %}

{% block title %}
    Users
{% endblock %}

{% block content %}
    <a class="main-anchor-tag" href="#" onclick="toggleModal('create-user-modal')">Create User</a>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }} {% comment %} {% if user.is_staff %}(Admin){% endif %}{% endcomment %}</td>
                        <td>
                            <a href="#" onclick="openDeleteModal('user', {{ user.id }}, '{{ user.username }}')">
                                <img src="{% static 'base/icon/trash-can.svg' %}" alt="Delete" class="delete-item-icon" />
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">No users</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal-container" id="delete-user-modal">
        <form id="delete-user-form" method="POST">
        <h2>Delete User</h2>
        <p>Are you sure you want to delete the user <strong id="user-name"></strong>?</p>
            {% csrf_token %}
            <button class="form-button delete" type="submit">Delete</button>
            <button class="form-button" type="button" onclick="toggleModal('delete-user-modal')">Cancel</button>
        </form>
    </div>
    <div class="modal-container" id="create-user-modal">
        <form method="POST" id="create-user-form" action="{% url 'users:create' %}">
            {% csrf_token %}
            <div class="form-input-container form-element-container">
                <input type="text" name="username" required id="create-user-username" class="form-input" placeholder="">
                <label for="create-user-username" class="form-input-label">Username</label>
                <span class="form-element-error" id="create-user-username-error"></span>
            </div>
            <div class="form-input-container form-element-container">
                <input type="password" name="password" required id="create-user-password" class="form-input" placeholder="">
                <label for="create-user-password" class="form-input-label">Password</label>
                <span class="form-element-error" id="create-user-password-error"></span>
            </div>
            <div class="form-input-container form-element-container">
                <input type="password" name="password_confirm" required id="create-user-confirm-password" class="form-input" placeholder="">
                <label for="create-user-confirm-password" class="form-input-label">Confirm Password</label>
                <span class="form-element-error" id="create-user-confirm-password-error"></span>
            </div>
            <button class="form-button" type="submit">Create</button>
            <button class="form-button" type="button" onclick="toggleModal('create-user-modal')">Cancel</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'users/js/scripts.js' %}"></script>
{% endblock %}