{% extends "base/base.html" %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'categories/css/styles.css' %}">
{% endblock styles %}

{% block title %}
    Categories
{% endblock %}

{% block content %}
    <h1>Categories</h1>
    <p>Here you can manage your categories.</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Subcategories</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.get_type_display }}</td>
                    <td>
                        <a href="#" onclick="toggleSubcategories('subcategory-table-{{ category.id }}')">Toggle Subcategories</a>
                        <table id="subcategory-table-{{ category.id }}" class="subcategory-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for subcategory in category.subcategory_set.all %}
                                    <tr>
                                        <td>{{ subcategory.name }}</td>
                                        <td>{{ subcategory.description }}</td>
                                        <td>
                                            <a href='#' onclick="openDeleteSubcategoryModal({{ subcategory.id }}, '{{ subcategory.name }}')">Delete</a>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr><td>No subcategories</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <a href="#" onclick="openAddSubcategoryModal({{ category.id }}, '{{ category.name }}')">Add Subcategory</a>
                        <a href='#' onclick="openDeleteCategoryModal({{ category.id }}, '{{ category.name }}')">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if success %}
        <p class="message">{{ success }}</p>
    {% endif %}
    {% if error %}
        <p class="message">{{ error }}</p>
    {% endif %}
    <a href="#" onclick="openCreateCategoryModal()">Create Category</a>
    <a href="#" onclick="openCreateDefaultCategoriesModal()">Create Default Categories</a>

    <div class="modal-container" id="delete-category-modal">
        <form id="delete-category-form" method="POST">
        <h2>Delete Category</h2>
        <p>Are you sure you want to delete the category <strong id="category-name"></strong>?</p>
            {% csrf_token %}
            <button class="form-button delete" type="submit">Delete</button>
            <button class="form-button" type="button" onclick="toggleDeleteCategoryModal()">Cancel</button>
        </form>
    </div>
    <div class="modal-container" id="create-category-modal">
        <form method="POST" id="create-category-form" action="{% url 'categories:create' %}">
            {% csrf_token %}
            <div class="form-input-container">
                <input type="text" name="name" placeholder="" required class="form-input" id="create-category-name">
                <label for="create-category-name" class="form-input-label">Category Name</label>
            </div>
            <div class="form-select-container">
                <select required name="type" id="create-category-type" class="form-select">
                    <option value="" hidden selected>Category Type</option>
                    <option value="income">Income</option>
                    <option value="expense">Expense</option>
                </select>
                <label for="create-category-type" class="form-select-label">Category Type</label>
            </div>
            <button class="form-button" type="submit">Create Category</button>
            <button class="form-button" type="button" onclick="toggleCreateCategoryModal()">Cancel</button>
        </form>
    </div>
    <div class="modal-container" id="add-subcategory-modal">
        <form id="add-subcategory-form" method="POST">
        <h2>Add Subcategory</h2>
        <p>Add a subcategory to the category <strong id="subcategory-category-name"></strong>.</p>
            {% csrf_token %}
            <div class="form-input-container">
                <input type="text" name="name" placeholder="" required class="form-input" id="create-subcategory-name">
                <label for="create-subcategory-name" class="form-input-label">Subcategory Name</label>
            </div>
            <div class="form-input-container">
                <input type="text" name="description" placeholder="" required class="form-input" id="create-subcategory-description">
                <label for="create-subcategory-description" class="form-input-label">Subcategory Description</label>
            </div>
            <button class="form-button" type="submit">Add Subcategory</button>
            <button class="form-button" type="button" onclick="toggleAddSubcategoryModal()">Cancel</button>
        </form>
    </div>
    <div class="modal-container" id="delete-subcategory-modal">
        <form id="delete-subcategory-form" method="POST">
        <h2>Delete Subcategory</h2>
        <p>Are you sure you want to delete the subcategory <strong id="subcategory-name"></strong>?</p>
            {% csrf_token %}
            <button class="form-button delete" type="submit">Delete</button>
            <button class="form-button" type="button" onclick="toggleDeleteSubcategoryModal()">Cancel</button>
        </form>
    </div>
    <div class="modal-container" id="create-default-categories-modal">
        <form id="create-default-categories-form" method="POST" action="{% url 'categories:create-default' %}">
        <h2>Create Default Categories</h2>
        <p>Are you sure you want to create the default categories?</p>
            {% csrf_token %}
            <button class="form-button" type="submit">Create Default Categories</button>
            <button class="form-button" type="button" onclick="toggleCreateDefaultCategoriesModal()">Cancel</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'categories/js/scripts.js' %}"></script>
{% endblock %}