{% extends "base/base.html" %}

{% load static %}

{% block title %}
    Categories
{% endblock %}

{% block content %}
    <h1>Categories</h1>
    <p>Here you can manage your categories.</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.get_type_display }}</td>
                    <td>
                        <a href='#' onclick="openDeleteCategoryModal({{ category.id }}, '{{ category.name }}')">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if success %}
        <p class="message">{{ success }}</p>
    {% endif %}
    <a href="#" onclick="openCreateCategoryModal()">Create Category</a>

    <div class="modal-container" id="delete-category-modal">
        <h2>Delete Category</h2>
        <p>Are you sure you want to delete the category <strong id="category-name"></strong>?</p>
        <form id="delete-category-form" method="POST">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
        <a href="#" onclick="toggleDeleteCategoryModal()">Cancel</a>
    </div>
    <div class="modal-container" id="create-category-modal">
        <form method="POST" id="create-category-form" action="{% url 'categories:create' %}">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Category Name" required>
            <select name="type" required>
                <option value="" disabled selected>Category Type</option>
                <option value="income">Income</option>
                <option value="expense">Expense</option>
            </select>
            <button type="submit">Create Category</button>
            <a href="#" onclick="toggleCreateCategoryModal()">Cancel</a>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'categories/js/scripts.js' %}"></script>
{% endblock %}