{% extends "base/base.html" %}

{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<h1>Home</h1>
<p>Welcome, {{ user.username }}! Here you have an overview of your household finances.</p>
<p>Total Balance: R$ {{ balance_sum }}</p>

<a href="#" onclick="openCreateTransactionModal()">Create Transaction</a>
<div class="modal-container" id="create-transaction-modal">
    <form id="create-transaction-form" method="POST" action="{% url 'accounts:create_transaction' %}">
        {% csrf_token %}
        <label for="transaction-form-element-type">Type</label>
        <select name="type" id="transaction-form-element-type" required>
            <option value="" disabled selected>Type</option>
            <option value="expense">Expense</option>
            <option value="income">Income</option>
            <option value="transfer">Transfer</option>
        </select>
        <label for="transaction-form-element-amount">Amount</label>
        <input type="number" name="amount" placeholder="Amount" id="transaction-form-element-amount" required>
        <label for="transaction-form-element-category">Category</label>
        <select name="category" required id="transaction-form-element-category">
            <option value="" disabled selected>Category</option>
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <label for="transaction-form-element-subcategory">Subcategory</label>
        <select name="subcategory" required id="transaction-form-element-subcategory">
            <option value="" disabled selected>Subcategory</option>
            {% for subcategory in subcategories %}
                <option value="{{ subcategory.id }}" class="subcategory-option" data-category="{{ subcategory.category.id }}">{{ subcategory.name }}</option>
            {% endfor %}
        </select>
        <label for="transaction-form-element-description">Description</label>
        <input type="text" name="description" placeholder="Description" required id="transaction-form-element-description">
        <label for="transaction-form-element-date">Date</label>
        <input type="date" name="date" value="{{ today }}" required id="transaction-form-element-date">
        <button type="submit">Create Transaction</button>
        <a href="#" onclick="toggleCreateTransactionModal()">Cancel</a>
    </form>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'base/js/scripts.js' %}"></script>
{% endblock %}