{% extends "base/base.html" %}

{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<h1>Home</h1>
<p>Welcome, {{ user.username }}! Here you have an overview of your household finances.</p>
<p>Total Balance: R$ {{ balance_sum }}</p>
{% if success %}
    <p class="message">{{ success }}</p>
{% endif %}
{% if error %}
    <p class="message">{{ error }}</p>
{% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'base/js/scripts.js' %}"></script>
{% endblock %}
