{% if accounts and categories %}
  <button type="button" id="circle-button" onclick="toggleCircleButton()">+</button>
{% endif %}

{% comment %}=== TRANSACTION MODAL ==={% endcomment %}
<div id="circle-button-content">
  <a class="open-modal-button" href="#" onclick="openTransactionModal('income')">Income</a>
  <a class="open-modal-button" href="#" onclick="openTransactionModal('expense')">Expense</a>
  {% if accounts|length > 1 %}
    <a class="open-modal-button" href="#" onclick="openTransactionModal('transfer')">Transfer</a>
  {% endif %} {% if creditcards %}
    <a class="open-modal-button" href="#" onclick="openTransactionModal('creditcard')">Credit</a>
  {% endif %}
</div>

{% comment %}=== INCOME MODAL ==={% endcomment %}
<div class="modal-container" id="income-modal">
  <form id="form-create-income" method="POST" action="{% url 'accounts:create_transaction' %}">
    {% csrf_token %}
    <input type="hidden" name="type" value="income" required />
    <span class="form-element-error" id="income-type-error" hidden></span>
    <div class="form-input-container form-element-container">
      <input id="income-amount" class="form-input" type="number" name="amount" placeholder="" required min="0" step="0.01" />
      <label for="income-amount" class="form-input-label">Amount</label>
      <span class="form-element-error" id="income-amount-error" hidden></span>
    </div>
    <div class="form-select-container form-element-container">
      <select id="income-category" name="category" required class="form-select category-dropdown">
        <option value="" hidden selected>Category</option>
        {% for category in categories %}
          {% if category.type == 'income' %}
            <option value="{{ category.id }}">{{ category.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <label for="income-category" class="form-select-label">Category</label>
      <span class="form-element-error" id="income-category-error" hidden></span>
    </div>
    <div class="form-select-container form-element-container">
      <select name="subcategory" class="form-select subcategory-dropdown" id="income-subcategory">
        <option value="" hidden selected>Subcategory</option>
        {% for subcategory in subcategories %}
          {% if subcategory.category.type == 'income' %}
            <option value="{{ subcategory.id }}" class="category-{{ subcategory.category.id }}">{{ subcategory.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <label for="income-subcategory" class="form-select-label">Subcategory</label>
      <span class="form-element-error" id="income-subcategory-error" hidden></span>
    </div>
    <div class="form-select-container form-element-container">
      <select name="account" required class="form-select" id="income-account">
        <option value="" hidden selected>Account</option>
        {% for account in accounts %}
          <option value="{{ account.id }}">{{ account.name }}</option>
        {% endfor %}
      </select>
      <label for="income-account" class="form-select-label">Account</label>
      <span class="form-element-error" id="income-account-error" hidden></span>
    </div>
    <div class="form-input-container form-element-container">
      <input class="form-input" type="text" name="description" placeholder="" id="income-description" />
      <label for="income-description" class="form-input-label">Description</label>
      <span class="form-element-error" id="income-description-error" hidden></span>
    </div>
    <div class="form-input-container form-element-container">
      <input class="form-input" type="date" name="date" value="{{ today }}" required id="income-date" />
      <label for="income-date" class="form-input-label">Date</label>
      <span class="form-element-error" id="income-date-error" hidden></span>
    </div>
    <button class="form-button" type="submit">Create Income</button>
    <button class="form-button" type="button" onclick="toggleModal('income-modal')">Cancel</button>
  </form>
</div>

{% comment %}=== EXPENSE MODAL ==={% endcomment %}
<div class="modal-container" id="expense-modal">
  <form id="form-create-expense" method="POST" action="{% url 'accounts:create_transaction' %}">
    {% csrf_token %}
    <input type="hidden" name="type" value="expense" />
    <div class="form-input-container form-element-container">
      <input class="form-input" type="number" name="amount" placeholder="" required id="expense-amount" min="0" step="0.01" />
      <label for="expense-amount" class="form-input-label">Amount</label>
      <span class="form-element-error" id="expense-amount-error" hidden></span>
    </div>
    <div class="form-select-container form-element-container">
      <select name="category" required class="form-select category-dropdown" id="expense-category">
        <option value="" hidden selected>Category</option>
        {% for category in categories %}
          {% if category.type == 'expense' %}
            <option value="{{ category.id }}">{{ category.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <label for="expense-category" class="form-select-label">Category</label>
      <span class="form-element-error" id="expense-category-error" hidden></span>
    </div>
    <div class="form-select-container form-element-container">
      <select name="subcategory" class="form-select subcategory-dropdown" id="expense-subcategory">
        <option value="" hidden selected>Subcategory</option>
        {% for subcategory in subcategories %}
          {% if subcategory.category.type == 'expense' %}
            <option value="{{ subcategory.id }}" class="category-{{ subcategory.category.id }}">{{ subcategory.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <label for="expense-subcategory" class="form-select-label">Subcategory</label>
      <span class="form-element-error" id="expense-subcategory-error" hidden></span>
    </div>
    <div class="form-select-container form-element-container">
      <select name="account" required class="form-select" id="expense-account">
        <option value="" hidden selected>Account</option>
        {% for account in accounts %}
          <option value="{{ account.id }}">{{ account.name }}</option>
        {% endfor %}
      </select>
      <label for="expense-account" class="form-select-label">Account</label>
      <span class="form-element-error" id="expense-account-error" hidden></span>
    </div>
    <div class="form-input-container form-element-container">
      <input class="form-input" type="text" name="description" placeholder="Description" required id="expense-description" />
      <label for="expense-description" class="form-input-label">Description</label>
      <span class="form-element-error" id="expense-description-error" hidden></span>
    </div>
    <div class="form-input-container form-element-container">
      <input class="form-input" type="date" name="date" value="{{ today }}" required id="expense-date" />
      <label for="expense-date" class="form-input-label">Date</label>
      <span class="form-element-error" id="expense-date-error" hidden></span>
    </div>
    <button class="form-button" type="submit">Create Expense</button>
    <button class="form-button" type="button" onclick="toggleModal('expense-modal')">Cancel</button>
  </form>
</div>

{% comment %}=== TRANSFER MODAL ==={% endcomment %}
<div class="modal-container" id="transfer-modal">
  <form id="form-create-transfer" method="POST" action="{% url 'accounts:create_transfer' %}">
    {% csrf_token %}
    <input type="hidden" name="type" value="transfer" />
    <div class="form-input-container form-element-container">
      <input class="form-input" type="number" name="amount" placeholder="" required id="transfer-amount" min="0" step="0.01" />
      <label for="transfer-amount" class="form-input-label">Amount</label>
      <span class="form-element-error" id="transfer-amount-error" hidden></span>
    </div>
    <div class="form-select-container form-element-container">
      <select name="account" required class="form-select" id="transfer-account">
        <option value="" hidden selected>Account</option>
        {% for account in accounts %}
          <option value="{{ account.id }}">{{ account.name }}</option>
        {% endfor %}
      </select>
      <label for="transfer-account" class="form-select-label">Account</label>
      <span class="form-element-error" id="transfer-account-error" hidden></span>
    </div>
    <div class="form-select-container form-element-container">
      <select name="to_account" required class="form-select" id="transfer-to_account">
        <option value="" hidden selected>To Account</option>
        {% for account in accounts %}
          <option value="{{ account.id }}">{{ account.name }}</option>
        {% endfor %}
      </select>
      <label for="transfer-to_account" class="form-select-label">To Account</label>
      <span class="form-element-error" id="transfer-to_account-error" hidden></span>
    </div>
    <div class="form-input-container form-element-container">
      <input class="form-input" type="text" name="description" placeholder="" id="transfer-description" />
      <label for="transfer-description" class="form-input-label">Description</label>
      <span class="form-element-error" id="transfer-description-error" hidden></span>
    </div>
    <div class="form-input-container form-element-container">
      <input class="form-input" type="date" name="date" value="{{ today }}" required id="transfer-date" />
      <label for="transfer-date" class="form-input-label">Date</label>
      <span class="form-element-error" id="transfer-date-error" hidden></span>
    </div>
    <button class="form-button" type="submit">Create Transfer</button>
    <button class="form-button" type="button" onclick="toggleModal('transfer-modal')">Cancel</button>
  </form>
</div>

{% comment %}=== CREDIT CARD MODAL ==={% endcomment %}
<div class="modal-container" id="creditcard-modal">
  <form id="form-create-creditcard" method="POST" action="{% url 'creditcards:create_transaction' %}">
    {% csrf_token %}
    <input type="hidden" name="type" value="creditcard" />
    <div class="form-input-container form-element-container">
      <input placeholder="" class="form-input" type="number" name="amount" required id="creditcard-amount" min="0" step="0.01" />
      <label for="creditcard-amount" class="form-input-label">Amount</label>
      <span class="form-element-error" id="creditcard-amount-error" hidden></span>
    </div>
    <div class="form-select-container form-element-container">
      <select name="category" required class="form-select category-dropdown" id="creditcard-category">
        <option value="" hidden selected>Category</option>
        {% for category in categories %}
          {% if category.type == 'expense' %}
            <option value="{{ category.id }}">{{ category.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <label for="creditcard-category" class="form-select-label">Category</label>
      <span class="form-element-error" id="creditcard-category-error" hidden></span>
    </div>
    <div class="form-select-container form-element-container">
      <select name="subcategory" class="form-select subcategory-dropdown" id="creditcard-subcategory">
        <option value="" hidden selected>Subcategory</option>
        {% for subcategory in subcategories %}
          {% if subcategory.category.type == 'expense' %}
            <option value="{{ subcategory.id }}" class="category-{{ subcategory.category.id }}">{{ subcategory.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <label for="creditcard-subcategory" class="form-select-label">Subcategory</label>
      <span class="form-element-error" id="creditcard-subcategory-error" hidden></span>
    </div>
    <div class="form-select-container form-element-container">
      <select name="credit_card" required class="form-select" id="creditcard-card">
        <option value="" hidden selected>Credit Card</option>
        {% for creditcard in creditcards %}
          <option value="{{ creditcard.id }}">{{ creditcard.name }}</option>
        {% endfor %}
      </select>
      <label for="creditcard-card" class="form-select-label">Credit Card</label>
      <span class="form-element-error" id="creditcard-card-error" hidden></span>
    </div>
    <div class="form-input-container form-element-container">
      <input type="number" name="installments" placeholder="" required id="creditcard-installments" class="form-input" step="1" min="1" />
      <label for="creditcard-installments" class="form-input-label">Installments</label>
      <span class="form-element-error" id="creditcard-installments-error" hidden></span>
    </div>
    <div class="form-input-container form-element-container">
      <input type="text" name="description" placeholder="" required id="creditcard-description" class="form-input" />
      <label for="creditcard-description" class="form-input-label">Description</label>
      <span class="form-element-error" id="creditcard-description-error" hidden></span>
    </div>
    <div class="form-input-container form-element-container">
      <input type="date" name="date" value="{{ today }}" required id="creditcard-date" class="form-input" />
      <label for="creditcard-date" class="form-input-label">Date</label>
      <span class="form-element-error" id="creditcard-date-error" hidden></span>
    </div>
    <button class="form-button" type="submit">Create Credit Card Expense</button>
    <button class="form-button" type="button" onclick="toggleModal('creditcard-modal')">Cancel</button>
  </form>
</div>

{% comment %}=== ERROR MESSAGE ==={% endcomment %}
{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'error' %}
      <div class="message error">{{ message }}</div>
    {% elif message.tags == 'success' %}
      <div class="message success">{{ message }}</div>
    {% else %}
      <div hidden class="message-content">{{ message }}</div>
      <div hidden class="message-tags">{{ message.tags }}</div>
    {% endif %}
  {% endfor %}
{% endif %}
